@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #facd63;
    --color-hb: rgb(247, 182, 6);
    --color-bg-variant: #059b19e1;
    --black-color: #141313;
    --color-primary: #faf9f8;
    --color-primary-variant: rgba(23, 39, 23, 0.4);
    --color-white: rgb(249, 248, 252);
    --color-light: rgba(20, 6, 36, 0.712);
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 100%;
    --container-width-ms: 90%;
    --container-width-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    /*===== Colors =====*/
    --card-01-color-01: #278cdf;
    --card-01-color-02: #0fbb18;
    --card-02-color-01: #96c110;
    --card-02-color-02: #80ad0a;
    --card-03-color-01: #64b2f2;
    --card-03-color-02: #489ed9;
    --card-body-bg-color: rgb(20, 11, 11);
    --text-disabled-color: #b2b2b2;
    --icon-disabled-color: #ff0404;
    --body-bg-color: #e5f6ff;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    /* background-image: url(../src/assets/map.png); */
}


/* ===================General Styles ==================*/

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    padding: 0 1em;
    max-width: 60rem;
    place-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 10rem;
    min-height: 100vh;
    /* height: 100vw; */
}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-hb);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-hb);
    transition: var(--transition);
}

a:hover {
    color: var( --color-primary);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* ===================== MEDIA QUERIES (MEDIUM DEVICES ================*/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 60rem;
    }
}


/* ===================== MEDIA QUERIES (SMALL DEVICES )================*/

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    section>h2 {
        margin-bottom: 2rem;
    }
}


/* ===================== MEDIA QUERIES (SMALL DEVICES phones)================*/

@media (min-width: 576px) {
    @media (min-width: 768px) {
        #wrapper {
            width: 90%;
            margin: 0 auto;
        }
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}